body{
    background-color: aqua;
    background-image:url(wallpaperflare.com_wallpaper.jpg) ;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    color: red;
}